.DS_Store

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore configuration
/config/database.yml
/config/application.yml

# Ignore coverage reports
/coverage

# Ignore editor project files
.idea
*.sublime-*

# related to Python packages
pip-log.txt
pip-delete-this-directory.txt
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/
*.py[cod]
*.so

# Ignore Python virtualenv
virtualenv/

# Ignore attachments
public/uploads/*
vendor
