# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore configuration
/config/database.yml
/config/application.yml

# Ignore coverage reports
/coverage

# Ignore editor project files
.idea
*.sublime-*

# Ignore Paperclip uploads
/public/system*
