-e git+https://github.com/transitland/mapzen-gtfs.git@v0.10.4#egg=mzgtfs
-e git+https://github.com/transitland/transitland-python-client.git@236ee7e3d2d671b065d867de0722526198defbfc#egg=transitland
transitfeed>=1.2.14
