a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-success:hover, 
.btn-success:active, 
.btn-success.active, 
.btn-success.disabled, 
.btn-success[disabled],
.btn-default:focus,
.btn-default {
  text-shadow: none; /* Prevent inheritence from `body` */
  color: #8ac418;
  background-color: #0a0a0a;
  border: 2px solid #8ac418;
  font-size: 16px;
  outline:none;

}

.btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled],
.btn-default:hover{
  text-shadow: none; /* Prevent inheritence from `body` */
  color: #0a0a0a;
  border: 2px solid #8ac418;
  outline:#8ac418;
  background-color: #8ac418;
  font-size: 16px;
}
 


body {
  padding-top: 10%;
  height: 100%;
  background-color: #0a0a0a;
  color: #8ac418;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.queryBuilder-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.form-control:focus,
.form-control {
  display: block;
  height: 34px;
  font-size: 18px;
  text-align: center;
  line-height: 1.42857143;
  color: #ffcf03;
  background-color: #0a0a0a;
  background-image: none;
  /*border: 1px solid #ccc;*/
  border: none;
  border-radius: 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


