.marker-cluster-small {
	background-color: rgba(255,188,0, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(255,188,0, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(131,229,255, 0.8);
	}
.marker-cluster-medium div {
	background-color: rgba(131,229,255, 0.8);
	}

.marker-cluster-large {
	background-color: rgba(187,224,30, 0.8);
	}
.marker-cluster-large div {
	background-color: rgba(187,224,30, 0.8);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(255,188,0);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(255,188,0);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(131,229,255,);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(131,229,255,);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(187,224,30));
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(187,224,30);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	color: black;

	text-align: center;
	border-radius: 15px;
	font-size: 12px;
	font-family:"Lato",Helvetica,Arial,sans-serif
	}
.marker-cluster span {
	line-height: 30px;
	}