---
http_interactions:
- request:
    method: get
    uri: https://valhalla.mapzen.com/locate?api_key=fakeapikey&json=%7B%22locations%22:%5B%7B%22lat%22:0.0,%22lon%22:0.0%7D%5D,%22costing%22:%22transit%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Apiaxleproxy-Qpd-Left:
      - '49920'
      X-Apiaxleproxy-Qps-Left:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"input_lon":0.000000,"input_lat":0.000000,"nodes":null,"edges":null}]'
  recorded_at: Thu, 20 Oct 2016 23:01:09 GMT
recorded_with: VCR 3.0.3
