---
http_interactions:
- request:
    method: get
    uri: https://valhalla.mapzen.com/locate?api_key=fakeapikey&json=%7B%22locations%22:%5B%7B%22lat%22:37.775692,%22lon%22:-122.413601%7D,%7B%22lat%22:40.74455,%22lon%22:-73.990472%7D%5D,%22costing%22:%22pedestrian%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Apiaxleproxy-Qpd-Left:
      - '19998'
      X-Apiaxleproxy-Qps-Left:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"input_lon":-122.413605,"node":null,"edges":[{"way_id":8917801,"correlated_lat":37.775589,"side_of_street":"left","percent_along":0.39047,"correlated_lon":-122.413521},{"way_id":8917801,"correlated_lat":37.775589,"side_of_street":"right","percent_along":0.60953,"correlated_lon":-122.413521}],"input_lat":37.775692},{"input_lon":-73.990471,"node":null,"edges":[{"way_id":5671311,"correlated_lat":40.744427,"side_of_street":"right","percent_along":0.87621,"correlated_lon":-73.990524},{"way_id":5671311,"correlated_lat":40.744427,"side_of_street":"left","percent_along":0.12379,"correlated_lon":-73.990524}],"input_lat":40.744549}]'
  recorded_at: Thu, 28 May 2015 18:45:11 GMT
recorded_with: VCR 2.9.3
