---
http_interactions:
- request:
    method: get
    uri: http://valhalla.api.dev.mapzen.com/locate?json=%7B%22locations%22:%5B%7B%22lat%22:37.775692,%22lon%22:-122.413601%7D,%7B%22lat%22:40.74455,%22lon%22:-73.990472%7D%5D,%22costing%22:%22pedestrian%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_lon":-122.413605,"ways":[{"correlated_lon":-122.413605,"way_id":8917801,"correlated_lat":37.775692}],"input_lat":37.775692},{"input_lon":-122.413605,"ways":[{"correlated_lon":-122.413605,"way_id":8917801,"correlated_lat":37.775692}],"input_lat":37.775692}]'
  recorded_at: Tue, 05 May 2015 23:59:35 GMT
recorded_with: VCR 2.9.3
