<p><strong>Hello <%= @changeset.user.name.presence %></strong></p>

<p>Thank you again for submitting a feed to the Transitland Feed Registry! Your feed has been reviewed, and you can now find it in <a href="https://transit.land/feed-registry/">the listings</a>.</p>

<p>We're starting to import the feed into the Transitland Datastore. This will make available the stops, routes, and schedule data that are contained in the feed. This import process may take a few more hours or days. If we run into any problems along the way, we'll be in touch.</p>

<p>Contributions from community members like you help us build Transitland. If you know of other feeds, please submit them, too!</p>

<p>If you have any questions, you can contact the Transitland team at <a href="mailto:hello@transitland.org">hello@transitland.org</a>.</p>
