<p><strong>Hello <%= @changeset.user.name.presence %></strong></p>

<p>Thank you for submitting a feed to the Transitland Feed Registry!</p>

<p>Your feed is now working its way through the submission process. As soon as the Transitland team reviews your feed, you will see its operators listed in the <a href="https://transit.land/feed-registry/">Feed Registry</a>, and it will be accessible in the <a href="https://transit.land/playground/">Transitland Playground</a> and <a href="https://transit.land/how-it-works/#slide-3">Datastore API</a>.</p>

<p>After that, we will start importing the contents of the feed, which adds the stops, routes, and schedule to the Datastore. In some cases, there are issues in the import process that could delay or make the feed unacceptable for posting.</p>

<p>You will be notified again when your feed has been added to the Feed Registry and the Datastore, or if we encounter any problems along the way.</p>

<p>If you have any questions, you can contact the Transitland team at <a href="mailto:hello@transitland.org">hello@transitland.org</a>.</p>
